
/*body {
  cursor: url('/images/cursor.svg'), url('/images/cursor.png'), auto;
}*/

/*body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
}*/