@tailwind base;
@tailwind components;
@tailwind utilities;



.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

body {
  font-size: 16px;
}

@layer components {
  a {
    @apply text-primary-500 hover:text-primary-300 dark:text-white dark:hover:text-secondary-300;
  }

  p a {
    @apply underline;
  }

  .btn-theme {
    @apply inline-block my-3 dark:text-white border-b-2 hover:-translate-y-1 dark:hover:text-white border-primary-300 dark:border-secondary-300 duration-200;
  }

  .handwriting {
    @apply font-display font-normal inline-block text-[1.5em] leading-[0.75] ml-1 translate-y-3 lg:translate-y-[0.1em] text-primary-300 dark:text-secondary-300;
  }
}
